.Shopcart{
    display: flex;
    justify-content: center;
}

.shopcart{
    position: absolute;
    top: 120px;
    border-radius: 10px;
    width:60%;
    height: 550px;
    background-color: #6c757dc6;
    display: flex;
    justify-content: center;
}
.shopcartcontent{
    padding: 20PX;
}
.shopcartcontent h2{
    color: #EEF0F2;
    font-family: 'Courier New', Courier, monospace;
    position: absolute;
    left: 60PX;
    font-size: 40PX;
}