.Shopcart{
    position: absolute;
    
    right: 15%;
    top: 25%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 60%;
    height: 450px;
    background-color: #d8dadbac;
    padding: 30px;
    border-radius: 5px;
    

}
table,tr,td{
    text-align: center;
    margin: 20px;

}
table{
    margin-top: 80px;
}

.Shopcart h1{
    position: absolute;
    top: 15px;
    display: flex;
    align-items: center;
    font-family: 'GenRyuMin-M';
    letter-spacing: 1px;
    
}
.Shopcart p,H3{
    letter-spacing: 1px;
    font-family: 'GenRyuMin-M';
}


.shopcart{
    position: absolute;
    top: 120px;
    border-radius: 10px;
    width: 100%;
    height: 60%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: stretch;
}
.shopcart img{
    width: 70px;
}

