.Shopcart{
    position: absolute;
    
    right: 15%;
    top: 125px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 60%;
    height: 450px;
    background-color: #d8dadbac;
    padding: 30px;
    border-radius: 5px;
    

}
table,tr,td{
    text-align: center;
    margin: 20px;

}
table{
    margin-top: 80px;
}

.Shopcart h1{
    position: absolute;
    top: 15px;
    display: flex;
    align-items: center;
    font-family: 'Mukta', sans-serif;
    letter-spacing: 1px;
    
}
.Shopcart p,H3{
    letter-spacing: 1px;
    font-family: 'GenRyuMin-M';
}


.shopcart{
    position: absolute;
    top: 120px;
    border-radius: 10px;
    width: 100%;
    height: 60%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: stretch;
}
.shopcart img{
    width: 70px;
}

.Sent{
    position: absolute;
    
    right: 15%;
    top: 650px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 60%;
    height: 350px;
    background-color: #d8dadbac;
    padding: 30px;
    border-radius: 5px;
    margin-bottom: 30px;
    

}
.Sent h1{
    position: absolute;
    top: 10px;
    font-family: 'Mukta', sans-serif;
    margin-top: 30px;
}
.empty {
    position: relative;
    height: 200px;
    top: 900px;
}

.sent{
    display: flex;
    width: 650px;
    flex-direction: row;
    justify-content: flex-start;
}
.info{
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.info input{
    margin-bottom: 5px;
    height: 30px;
    width: 200px;
    border-radius: 3px none;
    padding-left: 10px;
    
}

.info input:hover {
    background-color: transparent;
    transition: 0.5s ease-out;
    border-radius: 1px solid 3px;
}

select{
    width: 120px;
    height: 30px;
} 

.way{
    margin-right: 60px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.pay{
    width: 300%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.paycontent{
    display: flex;
    flex-direction: column;
}


.payradio{
    display: flex;
    margin-bottom: 15px;
    
}
h2{
    font-size: 17px;
}
